{%extends "template.html"%}

{%block head%}
<title>Twenty22 | Users</title>
{%endblock head%}

{%block body%} 
<div class="container text-white" align="center">
    <h1 style="margin-top: 50px;"><u>Users</u></h1>

    <!-- table -->
    <table class="table text-white fs-4" style="margin-top: 90px;">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Aidenpearce369</td>
            <td>India</td>
          </tr>
          <tr>
            <td>Cyberpj</td>
            <td>India</td>
          </tr>
          <tr>
            <td>Jopraveen</td>
            <td>India</td>
          </tr>
          <tr>
            <td>0xsakthi</td>
            <td>India</td>
          </tr>
          <tr>
            <td>Gokul AP</td>
            <td>India</td>
          </tr>
          <tr>
            <td>Pavan</td>
            <td>India</td>
          </tr>
        </tbody>
      </table>
</div>
{%endblock body%} 
